*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

body{
    font-family: 'Bitter', serif;
    background-color: var(--color-grey);
    line-height: 1.5;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
			                          rgba(0, 0, 0, 0.6)),
		                                url('../images/bollywood.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    height: 600px;
    display: flex;
    flex-direction: column;
}
.info{
    flex-grow: 1;
    color: var(--color-white)
}
.info h1{
    text-transform: uppercase;
    font-size: 2.625rem;
    cursor: pointer;
}
.info p{
    font-style: italic;
    color: var(--primary-dark);
}


.navbar{
    background-color: var(--primary-light);
}
.navbar ul{
    text-align: center;
}
.navbar ul li a{
    color: var(--color-white);
    font-size: 22px;
    text-transform: capitalize;
    font-weight: bold;
    display: block;
    padding: 15px;
    transition: all .3s ease-in-out;
}

.navbar ul li a:hover,
.navbar ul li a:active,
.navbar ul li a:focus{
    background-color: var(--primary-light-dark);
}

@media all and (min-width: 1180px){
    .navbar ul{
        display: flex;
    }
    .navbar ul li{
        flex-grow: 1;
    }
}